/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* html document formatting */
$btn-width: 250px !default;
$btn-height: 80px !default;
$btn-full: $btn-height+$btn-width !default;
$btn-half: $btn-full/2 !default;
$bg-color: #eeeeee !default;

html {
  padding-top: 50px;
  font-family: 'Open Sans', Helvetica, arial, sans-serif;
  text-align: center;
  background-color: $bg-color;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  transition: 0.5s ease-in-out;
}
i, em, b, strong, span {
  transition: none;
}

*:before,
*:after {
  z-index: -1;
}
a {
  text-decoration: none;
  line-height: 80px;
  color: black;
}
@media (min-width: 600px) {
  .wrap {
  }
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  @include size(100%, $btn-height);
  max-width: $btn-width;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

body {
  display: flex;
  font-family: 'Catamaran', sans-serif;
  font-size: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 0rem;
  box-sizing: border-box;
  position: relative;
  width:100%;
  height: 100%;
  overflow-y: scroll;
  background: url(/images/background-image.jpg);
  margin: 0;
}

/* default text formatting */
h1, h2, h3, 
h4, h5, p {
  font-style: normal;
  font-weight: normal;
  text-align: left;
  line-height: 1.8rem;
  letter-spacing: 0rem;
  color: black;
  flex:auto;
  flex-grow: 0;
  margin: auto;
  padding: auto;
}
h1 {
  font-size: 2rem;
  font-weight: bolder;
  order: 0;
  @media (min-width: 450px) {
    font-size: 1.75em;
  }
  
  @media (min-width: 760px) {
    font-size: 3.25em;
  }
  
  @media (min-width: 900px) {
    font-size: 5.25em;
    margin: 0 0 1em;
  }
}
h2 {
  font-size: 1.75rem;
  font-weight: bold;
  order: 1;
}
h3 {
  font-size: 1.5rem;
  order: 2;
}
h4 {
  font-size: 1.25rem;
  order: 3;
}
h5 {
  font-size: 1rem;
  order: 4;
}
p {
  font-size: 1rem;
  order: 5;
  margin: 0rem;
  /* border: 1px solid red; */
  padding: .5rem;
}


/* header section */
header {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  padding: 0rem .5rem;

  position: static;
  width: auto;
  height: fit-content;
  top: 0rem;

  background: linear-gradient(0.69deg, rgba(255, 255, 255, 0.3) 0.6%, rgba(123, 97, 255, 0.3) 99.4%, rgba(255, 255, 255, 0) 99.4%);
  /* border: 1px solid #FF0000;
  box-sizing: border-box; */

  /* project-items */
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}
.logo {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 1rem;

  position: static;
  width: fit-content;
  height: auto;
  left: 1rem;
  top: calc(50% - 88px/2);

  background: url(.png);
  border: 1px solid red;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: .5rem 1rem;
}
#spacer {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .5rem 1rem;

  position: relative;
  width: auto;
  height: auto;

  border: 1px solid red;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 1;
  margin: .5rem 1rem .5rem 0rem;
}
nav.navbar {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  background: #01216D;

  position: static;
  width:fit-content;
  height: auto;
  top: calc(50% - 88px/2);

  border: 1px solid #FF0000;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 1;
  margin: 0rem;
}
.navbar ul {
  clear: both;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  border: 1px solid #FF0000;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0rem;
}
.navbar li {
  cursor: default;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  padding: .5rem 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  /* white */
  background: #FFFFFF;
  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 8px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: .5rem 1rem;
}
.navbar a {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

/* Hero Section */
#hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;

  position: static;
  width: 100%;
  height: auto;
  left: calc(50% - 100%/2);
  top: 1rem;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0.09) 100%);
  border: 1px solid #FF0000;
  box-sizing: border-box;

  /* project-items */
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}
.heroCard {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;

  position: static;
  width: 80vw;
  height: auto;
  left: calc(50% - 1000px/2);
  top: calc(50% - 650px/2);

  border: 1px solid #FF0000;
  box-sizing: border-box;
  border-radius: 2rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
  margin: 0rem;
}
.img-frame {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 2rem;
  top: 2rem;

  background: rgba(255, 255, 255, 0.3);
  border-radius: 32px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
  margin: 1rem;
}
.profile-photo {
  position: static;
  width: auto;
  height: auto;

  background: url(.png);
  border: 1px solid #FF0000;
  box-sizing: border-box;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}
.content-frame {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0rem;

  position: static;
  width: 40%;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  margin: 1rem;
}
.content-frame h3 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}
.content-frame h1 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0rem;
  
  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 4rem;
  
  font-size: 6rem;
  line-height: 95%;

  display: flex;
  align-items: normal;
  letter-spacing: 3px;

  /* black */
  color: #000000;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}
.content-frame p {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  position: static;
  width: auto;
  height: auto;
  left: 16px;
  top: 427px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  margin: .5rem 1rem;
}
button {
  flex-direction: row;
  align-items: center;

  margin: .5rem 1rem;
  /* border: 1px solid red; */
  padding: 0rem;
  align-content: center;
  width: auto;
  height: auto;
  background-color: wheat;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  text-align: center; 
  order: 4;
}
  
.button a {
  /* color: $white; */
  line-height: 1.8rem;
  margin: 1rem;
  /* border: 1px solid red; */
  padding: 1rem;

}

/* animated button from codepen */
.btn-6 {
  color: #88808d;
}
.btn-6 span {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #454049;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.btn-6:hover {
  color: #dcdade;
}
.btn-6:hover span {
  width: 225%;
  height: 562.5px;
}
.btn-6:active {
  background-color: #736a79;
}

.btn-4:hover {
  
  &:after {
    left: 120%;
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  }
}

/* UX Skills Section */
#mySkills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  
  position: static;
  width: 100%;
  height: auto;
  left: calc(50% - 1440px/2);
  top: 789px;
  
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */
  
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */
  
  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}
#mySkills h1 {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: static;
  width: max-content;
  height: auto;
  left: calc(50% - 1312px/2);
  top: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin: 1rem;
  align-content: center;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;

  position: static;
  width: 80vw;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 1rem;
}
.flexItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;

  position: static;
  margin: .5rem;
  border: 1px solid #FF3B30;
  width: 300px;
  height: auto;
  left: 2rem;
  top: 2rem;
  background: rgba(255, 255, 255, 0.3);
  /* project-items */

  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 2rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}

.flexItem img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;
  top: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: .5rem 0rem;
}

.flexItem h3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 1rem;

  position: static;
  width:auto;
  height: auto;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}

.flexItem p {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;

  position: static;
  width: auto;
  height: auto;
  left: 1rem;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
  margin: .5rem 1rem;
}

/* My Work Section */
#myWork {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;

  position: static;
  width: 100%;
  height: auto;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */
  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 3;
  align-self: stretch;
  flex-grow: 0;
  margin: 0rem;
}

.workgrid {
  display: grid; 
  grid-template-columns: 100%; 
  grid-template-rows: repeat(3, 1fr); 
  gap: 5% 0px; 
  grid-template-areas: 
    "project1"
    "project2"
    "project3"; 
  justify-content: stretch; 
  align-content: stretch; 
  justify-items: stretch; 
  align-items: stretch; 
  width: 90%; 
}

.project1 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "image1 image1 heading1"
    "image1 image1 paragraph1"
    "image1 image1 button1"; 
  grid-area: project1; 
}
.image1 { grid-area: image1; }
.heading1 { grid-area: heading1; }
.paragraph1 { grid-area: paragraph1; }
.button1 { grid-area: button1; }
.project2 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "heading2 image2 image2"
    "paragraph2 image2 image2"
    "button2 image2 image2"; 
  grid-area: project2; 
}
.image2 { grid-area: image2; }
.button2 { grid-area: button2; }
.heading2 { grid-area: heading2; }
.paragraph2 { grid-area: paragraph2; }
.project3 {
  display: grid; 
  grid-template-columns: repeat(3, 1fr); 
  grid-template-rows: repeat(3, 1fr); 
  gap: 0px 1%; 
  grid-template-areas: 
    "image3 image3 heading3"
    "image3 image3 paragraph3"
    "image3 image3 button3"; 
  grid-area: project3; 
}
.image3 { grid-area: image3; }
.button3 { grid-area: button3; }
.paragraph3 { grid-area: paragraph3; }
.heading3 { grid-area: heading3; }


/* CTA section with form */
#cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px;

  position: relative;
  width: 100%;
  max-width: 400px;
  height: auto;
  left: calc(50% - 1440px/2);
  top: 1931px;

  background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 100%);
  /* project-items */

  backdrop-filter: blur(32px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 4;
  align-self: stretch;
  flex-grow: 0;
  margin: 0 auto;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}
#contact {
  background: #F9F9F9;
  padding: 1.5rem;
  margin: 1rem 2rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
#contact h3 {
  display: block;
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}
#contact button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}
#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}


/* footer section */
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;

  position: static;
  width: 100vw;
  height: auto;
  left: calc(50% - 1440px/2);
  bottom: -3349px;

  background: linear-gradient(180deg, rgba(112, 173, 196, 0.3) 0%, rgba(112, 173, 196, 0) 100%);
/* project-items */

  backdrop-filter: blur(32px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
  flex: none;
  order: 5;
  align-self: stretch;
  flex-grow: 0;
  margin: 0px 0px;
}

footer ul {
  border: 1px solid red;
  background-color: #C2C2C2;
  display: inline-block;
  flex-direction: flex-start;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  position: static;
  width: auto;
  height: auto;
  border: 1px solid #FF3B30;
  box-sizing: border-box;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 1rem;
}

footer li {
  border: 1px solid red;
  background-color: #FFFFFF;
  color: black;
  display: inline-block;
  padding: .5rem 2rem;
  margin: 1rem;
}

/* mobile screens, or any screen with a max width of 480px */
@media only screen and (max-width:480) {
  .workGrid {
    .workGrid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h3"
        "p"
        "button"
      ;
    }
  }
}

/* desktop screens or any screen with a minimum width of 480px */
@media only screen and (min-width:480) {
  .workGrid {
    .workGrid {
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr; 
      grid-template-columns: 1fr;
      grid-template-areas:
        "img"
        "h3"
        "p"
        "button"
      ;
    }
  }
}